.banner {
  display: grid;
  grid-template-columns: 60% 1fr;
  grid-template-rows: 80vh;
  align-items: center;
  background-color: #121473;
  background-blend-mode: lighten;
  background-position: center;
  background-size: cover;
  padding: 0 120px;
}

.title {
  font-size: 80px;
  color: white;
  font-weight: bold;
}
.right {
  height: 100%;
  display: flex;
  justify-content: center;
}