.button {
  border-radius: 8px;
  padding: 12px 25px;
  font-weight: bold;
  font-size: 14px;
}
.button.light {
  border: 1px solid #262AF2;
  color:#262AF2;
}
.button.dark {
  border: none;
  background-color: var(--button-bg);
  color: #fff;
}
.button.L {
  padding: 16px 45px;
  font-size: 20px;
}