.article {
  display: grid;
  grid-template-columns: 100%;
}
.article.horizontal {
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr;
  grid-gap: 20px;
}
.article.horizontal .postcardContent {
  padding: 10px;
}
.article.horizontal .postcardContent .title {
  margin-top: 0;
  margin-bottom: 16px;
}
.imageCover{
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  aspect-ratio: 1;
}
.excerpt, .excerpt p{
  margin: 0 0 16px;
}
.anchor {
  color: var(--blue);
  font-weight: bold;
  border-bottom: 2px solid;
  justify-self: flex-start;
}

@media (max-width: 480px) {
  .excerpt, .excerpt p{
    font-size: 14px;
    line-height: 18px;
  }
  .article.horizontal {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-gap: 20px;
  }
}