.article {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: 240px 1fr;
}
.imageCover{
  position: relative;
  min-height: 240px;
  border-radius: 10px;
  overflow: hidden;
}
.excerpt, .excerpt p{
  margin: 0 0 16px;
}
.anchor {
  color: var(--blue);
  font-weight: bold;
  border-bottom: 2px solid;
  justify-self: flex-start;
}