.article {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: 240px 1fr;
}
.article.horizontal {
  grid-template-columns: 345px 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 20px;
  height: 100%;
}
.article.horizontal .postcardContent {
  padding: 10px;
}
.article.horizontal .postcardContent .title {
  margin-top: 0;
  margin-bottom: 16px;
}
.imageCover{
  position: relative;
  min-height: 240px;
  border-radius: 10px;
  overflow: hidden;
}
.excerpt, .excerpt p{
  margin: 0 0 16px;
}
.anchor {
  color: var(--blue);
  font-weight: bold;
  border-bottom: 2px solid;
  justify-self: flex-start;
}