.banner {
  padding: 120px 140px;
  background-repeat: no-repeat;
  background-size: cover;
}
.title {
  color: white;
  text-align: center;
}
.banner.noBackground {
  background-color: var(--dark-blue);
}
@media (max-width: 480px) {
  .banner {
    padding: 120px 40px;
  }
}