.emailInfo {
  display: grid;
  grid-template-columns: 60% 40%;
  justify-items: center;
  justify-content: center;
}
.emailInfo div:first-child {
  padding: 0 100px;
}

.emailInfo:last-child{
  display: flex;
  justify-content: center;
}

.emailInfo p {
  font-size: 14px;
}
.emailInfo a {
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 480px) {
  .emailInfo {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .emailInfo div:first-child {
    padding: 0 40px 0 0;
  }
  .emailInfo p {
    line-height: 18px;
  }
}