@import 'colors.css';

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Avenir'), url(/fonts/AvenirNextLTPro-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Avenir bold';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Avenir bold'), url(/fonts/AvenirNextLTPro-Bold.ttf) format('truetype');
}

html,
body {
  padding: 0 50px;
  margin: 0;
}
body {
  font-family: 'Avenir', Roboto, serif;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
