@import 'colors.css';

@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-display: swap;
  src: local('SF Pro Display'), url(/fonts/SFPRODISPLAYREGULAR.ttf) format('truetype');
}

@font-face {
  font-family: 'SF Pro Display Bold';
  font-style: normal;
  font-display: swap;
  src: local('SF Pro Display Bold'), url(/fonts/SFPRODISPLAYBOLD.ttf) format('truetype');
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-display: swap;
  src: local('SF Pro Text'), url(/fonts/FontsFree-Net-SFProText-Regular.ttf) format('truetype');
}

html,
body {
  padding: 0 0;
  margin: 0;
}

body {
  font-family: 'SF Pro Text';
  -webkit-font-smoothing: antialiased;
  padding: 0 100px;
  background-color: var(--coop-white);
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'SF Pro Display';
  color: var(--dark-blue);
}

h1 {
  font-size: 80px;
}

h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.01em;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}
h6 {

}

p {
  font-size: 18px;
  color: var(--dark-blue);
  font-weight: 500;
  line-height: 32px;
}

a {
  color: var(--blue);
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.titleContent {
  padding: 120px 140px;
}
.titleContentImage{
  padding: 120px 120px;
}
.titleContent.center {
  text-align: center;
}
.titleContent .title {
  /*padding: 0 100px;*/
}
.titleContent.blueContent {
  background-color: var(--blue);
  padding: 120px 120px;
}
.titleContent.blueContent, .titleContent.blueContent p, .titleContent.blueContent a, .titleContent.blueContent h2, .titleContent.blueContent h4 {
  color: #fff;
}

.react-reveal div{
  /*height: 100%;*/
}

.react-reveal{
  height: 100%;
}

.banner-cta{
  margin-top: 100px;
}

/* Tabs */
.tabList {
  border-bottom: 1px solid #121473;
  text-align: left;
}

.tabList li {
  font-size: 24px;
  margin-right: 32px;
  padding: 0 0 8px;
  outline: none;
  position: relative;
}

.tabList li:after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width .3s;
  position: absolute;
  bottom: -1px;
}

.tabList li[aria-selected="true"] {
  font-weight: bold;
}
.coopTab {
  display: inline-block;
  cursor: pointer;
}
.tabList li[aria-selected="true"]:after{
  width: 100%;
}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
  .titleContent.blueContent {
    /*padding: 120px 40px;*/
  }
}
/* ------ */
@media (max-width: 720px) {
  .titleContent, .titleContentImage {
    padding: 120px 60px;
  }
}

@media (max-width: 480px) {
  body {
    padding: 0 16px;
  }
  h1 {
    font-size: 40px;
  }
  h2{
    font-size: 32px;
    line-height: 43px;
  }
  h4{
    font-size: 24px;
  }
  .titleContent, .titleContentImage {
    padding: 120px 8px;
  }
  .titleContent.blueContent {
    padding: 120px 16px;
  }
  .tabList li {
    font-size: 18px;
    margin-bottom: 10px;
  }
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {}


/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {}
