.postsList {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  justify-content: flex-start;
  align-content: center;
}
.link {
  display: flex;
  align-items: center;
}
.link .icon {
  width: 30px;
  height: 24px;
  padding-right: 10px;
}

.title {
  margin-bottom: 80px;
}