.servicesTabs {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: flex-end;
  grid-gap: 16px;
  margin-top: 50px;
}
.servicesTabs li{
  margin-right: initial;
  text-align: center;
  font-size: 22px;
}

@media (max-width: 480px) {
  .servicesTabs {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
    grid-gap: 8px;
  }
}