.teamGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, calc(25% - 20px));
  grid-template-rows: 1fr;
  grid-gap: 40px 20px;
  place-items: center;
  place-content: center;
  align-items: flex-start;
  margin-top: 60px;
}
.teamGrid li {
  width: 100%;
}

@media (max-width: 480px) {
 .teamGrid {
   grid-template-columns: repeat(auto-fit, calc(50% - 20px));
 }
}