.contentImage{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "text image";
  grid-gap: 120px;
  justify-items: flex-start;
  margin-bottom: 120px;
}
.contentImage.reverse{
  justify-items: flex-end;
}
.contentImage:first-of-type{
  margin-top: 120px
}
.contentImage:last-child{
  margin-bottom: 0;
}
.contentImage.reverse .textBox{
  grid-area: image;
}
.contentImage.reverse .imgBox{
  grid-area: text;
}
.contentImage .textBox {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  justify-self: center;
  text-align: left;
}

.contentImage .imgBox {
  /*width: 385px;*/
  /*height: 374px;*/
  /*justify-self: center;*/
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}


.title {
  color: var(--dark-blue);
  margin: 0;
}

.text {
  font-size: 18px;
  color: var(--dark-blue);
  font-weight: 500;
  line-height: 32px;
  text-align: initial;
}

@media (max-width: 480px) {
  .contentImage{
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    grid-template-areas:
    "text"
    "image";
    grid-gap: 40px;
  }
  .contentImage .imgBox {
    width: 100%;
  }
  .contentImage.reverse .textBox{
    grid-area: initial;
  }
  .contentImage.reverse .imgBox{
    grid-area: initial;
  }
}