.contentImage{
  display: grid;
  grid-template-columns: 55% 45%;
  align-items: center;
  margin-bottom: 120px;
}
.contentImage:first-of-type{
  margin-top: 120px
}
.contentImage:last-child{
  margin-bottom: 0;
}
.contentImage.reverse .textBox{
  grid-area: 1 / 2 / 1 / 2;
}
.contentImage.reverse .imgBox{
  grid-area: 1 / 1 / 1 / 1;
  justify-self: flex-start;
}
.contentImage .textBox {
  display: grid;
  grid-template-columns: 1fr;
  justify-self: center;
}

.contentImage .imgBox {
  width: 385px;
  height: 374px;
  justify-self: flex-end;
  position: relative;
  border-radius: 10px;
  overflow: hidden;

}


.title {
  font-size: 48px;
  color: var(--dark-blue);
  font-weight: 600;
  margin: 0;
}

.text {
  font-size: 18px;
  color: var(--dark-blue);
  font-weight: 500;
  line-height: 32px;
  text-align: initial;
}